<?xml version="1.0"?>
<launch>
    <!-- Start USB Joystick eg. XBox -->
    <node pkg="joy" type="joy_node" name="joy_node" output="screen" respawn="false" required="true">
        <param name="dev" type="string" value="/dev/input/js0" />
        <!-- Joystick center deadzone, default is 0.05%  0.12  -->
        <param name="deadzone" value="0.2" />
    </node>

    <!-- No need to launch Webots controller node.
         The controller binary is defined in the Webots *.wbt world file and will be automatically
         started when the simulator is executed by the 'webots_run' node. -->

    <!-- Start Webots Simulator -->
    <node pkg="webots_run" type="webots_run" args="$(find nao_webots)/worlds/webots_ros.wbt"
    name="webots" output="screen" required="true" />

</launch>
